textarea {
    resize: none;
}

.review-card{
    display: flex;
    flex-direction: row;
    height: 75vh;
}

.review-card-left {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 50%;
    border-right: 1px solid #fafafa;
}

.review-card-right {
    display: flex;
    align-items: center;
    width: 50%;
    align-content: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.review-compose {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.review-card-image{
    height: 300px;
    min-width: 100%;
    border-radius: 5px;
}

.revcom-img{
    height: 100%;
    width: auto;
}

.review-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    height: 100%;
}

.review-card-feed{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    background-color: #fafafa;
    border-bottom: 1px solid #eeee;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.review-card-description{
    display: flex;
    flex-direction: row;
}

.review-card-description-item{
    display: flex;
    flex-direction: row;
}